@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&display=swap");
 
* {
  padding: 0;
  margin: 0;
}
header {
  padding: 0px 30px;
  display: flex;
  height: 80px;
  background-color: #18222d;
  color: #ffffff;
  font-family: "Merriweather", serif;
}
 
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 40px;
  margin-right: 40px;
}
.menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.menu-el {
  font-size: 18px;
  padding: 12px 20px;
}
.set {
  display: flex;
  align-items: center;
  gap: 20px;
}
.set-l {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.set-l-line {
  text-align: right;
}
.set-r {
  display: flex;
  align-items: center;
  height: 1em;
  font-size: 20px;
  padding: 15px 25px;
  border: 3px solid #ffffff50;
  border-radius: 5px;
  gap: 12px;
}
.set-r img {
  height: 20px;
}